@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #022f2e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  font-family: "Ballet", cursive !important;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Bodoni Moda SC", serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2;
}
