@import url("https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #022f2e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  font-family: "Ballet", cursive;
  font-style: normal;
  font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Bodoni Moda SC", serif;
  font-style: normal;
  font-weight: 400;
}
